<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Template/dist/css/sb-admin-2.css" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link href="~/Content/Validation.css" rel="stylesheet" />
    <link href="~/Scripts/datetimexdsoft/build/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker/jqueryui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom Fonts -->
    <link href="~/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TIME MANAGER</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    Hi  @Session["Username"] !
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/SuperAdmin/Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/Registration/Registration"><i class="fa fa-edit fa-fw"></i> Create User</a>
                        </li>
                        <li>
                            <a href="/SuperAdmin/CreateAdmin"><i class="fa fa-edit fa-fw"></i> Create Admin</a>
                        </li>
                        <li>
                            <a href="/SuperAdmin/AssignRoles"><i class="fa fa-edit fa-fw"></i>AssignRoles</a>
                        </li>
                        <li>
                            <a href="/AllRoles/Roles"><i class="fa fa-table fa-fw"></i> All Roles</a>
                        </li>
                        <li>
                            <a href="/Project/Add"><i class="fa fa-edit fa-fw"></i> Add Project</a>
                        </li>
                        <li>
                            <a href="/ResetPassword/Index"><i class="fa fa-gear fa-fw"></i> Reset Password</a>
                        </li>
                        <li>
                            <a href="/TimeSheetMasterExport/Report"><i class="fa fa-table fa-fw"></i>Export All TimeSheets</a>
                        </li>
                        <li>
                            <a href="/ExpenseMasterExport/Report"><i class="fa fa-table fa-fw"></i>Export All Expense</a>
                        </li>
                        <li>
                            <a href="/AddNotification/Add"><i class="fa fa-bell fa-fw"></i>Push Notification</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">

                <script src="~/Scripts/datetimepicker/jquery-1.12.4.js"></script>
        
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                <script src="~/Scripts/datetimepicker/jqueryui.js"></script>
                <script src="~/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
                <script src="~/Scripts/datetimexdsoft/build/jquery.datetimepicker.full.min.js"></script>

                @RenderBody()
            </div>

        </div>
        <!-- /#page-wrapper -->
    </div>
</body>
</html>
