<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Template/dist/css/sb-admin-2.css" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">


    <link href="~/Scripts/datetimepicker/jqueryui.css" rel="stylesheet" />
    <link href="~/Content/Validation.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom Fonts -->
    <link href="~/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TIME MANAGER</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    Hi  @Session["Username"] !
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/User/Dashboard"><i class="fa fa-clock-o fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/TimeSheet/Add"><i class="fa fa-dashboard fa-fw"></i> TimeSheet</a>
                        </li>
                        <li>
                            <a href="/AllTimeSheet/TimeSheet"><i class="fa fa-edit fa-fw"></i> All TimeSheet</a>
                        </li>
                        <li>
                            <a href="/Expense/Add"><i class="fa fa-edit fa-fw"></i>Expense</a>
                        </li>
                        <li>
                            <a href="/AllExpense/Expense"><i class="fa fa-table fa-fw"></i> AllExpense</a>
                        </li>
                        <li>
                            <a href="/UserProfile/ChangePassword"><i class="fa fa-table fa-fw"></i> Change Password</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">

                <script src="~/Scripts/datetimepicker/jquery-1.12.4.js"></script>
                <script src="~/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                <script src="~/Scripts/datetimepicker/jqueryui.js"></script>
                <script src="~/Scripts/toastr.min.js"></script>

                <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
                <script src="~/signalr/Hubs/"></script>

                <script>
                    $(document).ready(function ()
                    {
                        toastr.options.onCloseClick = function () { alert("welcome"); };
                        // Proxy created on the fly
                        var hub = $.connection.mynotificationHub;

                        // Declare a function on the hub hub so the server can invoke it
                        hub.client.displayStatus = function () {
                            getData();
                        };

                        // Start the connection
                        $.connection.hub.start();
                        getData();

                        function getData() {
                            var divNotificaion = $('#divNotificaion');
                            $.ajax({
                                url: '/Notification/GetNotification',
                                type: 'GET',
                                datatype: 'json',
                                success: function (data) {
                                    data = $.parseJSON(data);
                                    if (data.length > 0) 
                                    {
                                        
                                        toastr.options =
                                        {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": false,
                                            "progressBar": true,
                                            "positionClass": "toast-top-center",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": 0,
                                            "extendedTimeOut": 0,
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut",
                                            "tapToDismiss": false
                                        }
                                        for (var i = 0; i < data.length; i++)
                                        {
                                            toastr.error(data[i].Message, "Message");
                                        }                                        
                                    }
                                }, error: function (r, e, w) 
                                {

                                }
                            });

                           
                        }
                    })
                </script>
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>

</body>
</html>
