@{
    ViewBag.Title = "Expense";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<link href="~/Scripts/dataTablesScripts/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/dataTablesScripts/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTablesScripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTablesScripts/dataTables.bootstrap4.min.js"></script>
<style type="text/css">
    #scrolly {
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap;
    }
</style>


<h4 class="page-header">All Expense</h4>

<div class="row">


    <div id='scrolly'>
        <div>
            <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ExpenseID</th>
                        <th>PurposeorReason</th>
                        <th>ExpenseStatus</th>
                        <th>FromDate</th>
                        <th>ToDate</th>
                        <th>TotalAmount</th>
                        <th>Delete</th>
                        <th>View</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/AllExpense/LoadExpenseData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            },
              {
                  "targets": [7],
                  "searchable": false,
                  "orderable": false
              }],
            "columns": [
                { "data": "ExpenseID", "name": "ExpenseID", "autoWidth": true },
                { "data": "PurposeorReason", "name": "PurposeorReason", "autoWidth": true },
                { "data": "ExpenseStatus", "title": "Status", "name": "ExpenseStatus", "autoWidth": true },
                { "data": "FromDate", "name": "FromDate", "autoWidth": true },
                { "data": "ToDate", "name": "ToDate", "autoWidth": true },
                { "data": "TotalAmount", "title": "Total", "name": "TotalAmount", "autoWidth": true },
                {
                    data: null, render: function (data, type, row) {
                        if (row.ExpenseStatus == "Submitted" || row.ExpenseStatus == "Rejected") {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.ExpenseID + "'); >Delete</a>";
                        }
                        else {
                            return row.ExpenseStatus;
                        }
                    }
                },
                     {
                         data: null, render: function (data, type, row) {
                             return "<a href='#' class='btn btn-info' onclick=ShowExpenseDetails('" + row.ExpenseID + "'); >View</a>";
                         }
                     },
            ]

        });
    });
</script>

<script type="text/javascript">

    function DeleteData(ID) {
        if (confirm("Are you sure you want to delete ...?")) {
            DeleteSheet(ID);
        }
        else {
            return false;
        }
    }
    function DeleteSheet(ID) {
        var url = '@Url.Content("~/")' + "AllExpense/Delete";
        $.post(url, { ExpenseID: ID }, function (data) {
            if (data == "Cannot") {
                alert("Approved or Rejected Data Cannot be Deleted! ");
            }
            else {
                if (data) {
                    oTable = $('#myTable').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            }
        });
    }


    function ShowExpenseDetails(ID) {
        var url = '@Url.Content("~/")' + "AllExpense/Details";
        $.ajax({
            type: "POST",
            url: url,
            data: '{ExpenseID: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#contentBody').html(response);
                $('#myModal').modal('show');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Detail</h4>
            </div>
            <div class="modal-body" id="contentBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>